header {
    height: 100px;
    width: 100%;
    background-color: hsla(135, 76%, 31%, 0.658);
    border-bottom: 10px solid rgba(53, 138, 95, 0.753);
    color:black
}

footer {
    height: 100px;
    width: 100%;
    text-align: center;
    font-family: monospace;
    background-color: hsla(135, 76%, 31%, 0.658);
    border-top: 10px solid rgba(53, 138, 95, 0.753);
}

.section-1 {
    background-color: white;
    border: 20px black;
    color: black;
    font-family: monospace;
    text-align: center;
    height: auto;
    padding: 5%;
}

.section-2 {
    height: 200px;
    width: 200px;
    background-color: hwb(0 22% 74%);
    border: 10px solid gray;
    padding: auto;
    color:white;
    font-family:monospace;
    text-align: center;
    position: relative;
    px;    
}

*h1, h3 {
    text-align: center;
    font-family:monospace;
}



.menu-items {
    display:inline;
    padding: 20px; 
    font-family: monospace;
    font-size:larger;
    position:relative;
    top: 70px;
    left:80%
}

img {
    border: 10px solid gray;

}